@animation-speed:250ms;
@default-animation-delay:100ms;

// Colours

@border-colour:#CCC;

@placeholder-colour:#AAA;

@tile-background-colour:white;
@input-focus-background:#F0F0F0;

@primary-font-colour:#333;

@secondary-colour:#2875C7;

@negative-colour:#BB3434;

// Fonts

@regular-font:"Helvetica", "Arial", "sans-serif";
@condensed-font:"Roboto Condensed";
@header-font:"Roboto Condensed";
@input-font-size:0.875em;

// Spacing

@spacing:12px;
@small-spacing:6px;
@tiny-spacing:3px;

@header-height:50px;
@input-height:40px;