@import "../../style/variables.less";
@import "../../style/mixins.less";

.timer-container {
	>dropdown { float:left; width:100%; margin-top:@spacing; }
	>button { float:left; width:100%; margin-top:@spacing; }
}