@import "../../style/variables.less";
@import "../../style/mixins.less";

.timer-container {
    >div { float:left; width:100%; display:none;
        &.show { display:block; }
        
        &.no-timer {
            >* { margin-top:@spacing; }
        }
        >* { float:left; width:100%;
            &:first-child { margin-top:0; }
        }
        
        &.timer {
            >div.timer-info { float:left; font-size:0.75em;
                >span { float:left; font-weight:bold; text-transform:uppercase; }
                >a { float:left; padding-left:@spacing; padding-right:@spacing; padding-bottom:@spacing; text-decoration:underline; cursor:pointer;
                    &.project { float:right; padding-right:0;}
                }
            }
            >div.project { float:right; text-decoration:underline; cursor:pointer; }
            >span.timer { float:left; width:100%; background:white; font-size:3em; font-weight:bold; .border-radius; text-align:center; padding:@spacing 0; margin-bottom:@spacing; }
            >button { float:left; width:48%; }
            >button#stop { float:right; }
        }
    }
    
	>modal { margin-top:0; }
	
	#new-project, #change-start-time {
		text { float:left; width:100%; }
	}
	
	#change-start-time {
		.content {
			>text, >span { float:left; }
			>text { width:47px; text-align:center; }
			>span.separator { padding:0 @small-spacing; .vertical-centre(@input-height); font-weight:bold; color:black; }
			>div { float:right;
				>span { float:left; cursor:pointer; background:white; font-size:0.875em; color:@placeholder-colour; .vertical-centre(@input-height); padding:0 @spacing; .border-radius;
					&.selected { background:@secondary-colour; color:white; }
				}
			}
			>span.calculated { float:left; width:100%; margin-top:@spacing; font-size:0.875em; }
		}
	}
}